<% content_for :title, "管理首页" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "dashboard"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
        <%= render :partial => 'shared/s_path'%>
    <%end%>

    <%if @assigned_budget_0 != 0%>
    <div class="info">
        <div class="info_action">
            <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
        </div>
        <div class="info_content">
            <p class="single">
                <strong>当前有<%=@assigned_budget_0%>个大区预算为0，需要分配.</strong>
                <a href="/regions">去分配预算.</a>
            </p>
        </div>
    </div>
    <%end%>

    <%@regions.each do |region|%>
        <%if region.percent >= 75%>
            <div class="info">
                <div class="info_action">
                    <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
                </div>
                <div class="info_content">
                    <p class="single">
                        <strong><%=region.name%>预算超过90%，注意分配.</strong>
                        <a href="/regions/<%=region.id%>/edit">去分配预算.</a>
                    </p>
                </div>
            </div>
        <%end%>
    <%end%>

    <%@orders.each do |order|%>
        <div class="info">
            <div class="info_action">
                <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
            </div>
            <div class="info_content">
                <p class="single">
                    <strong><%=order.region.name%>在活动<%=order.campaign.name%>中进行了预定.</strong>
                    <a href="/orders/<%=order.id%>">去审核.</a>
                </p>
            </div>
        </div>
    <%end%>

    <div class="tab">
        <table width="786" cellspacing="1" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td id="tab_tit" colspan="10">大区预算</td>
                </tr>
                <tr>
                    <td class="f_tab">大区名称</td>
                    <td class="f_tab">预算使用情况</td>
                </tr>
                <%@regions.each do |region|%>
                    <tr>
                        <td><%=region.name%></td>
                        <td id="progress_bar_<%=region.id%>">
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function() {
    <%@regions.each do |region|%>
    $("#progress_bar_<%=region.id%>").progressBar(
        <%=region.percent%>,
        {
            barImage: '<%=region.percent_image%>',
            boxImage: '/images/powerposm/progressbar/progressbar.gif',
            title: "<%=region.used_budget%>/<%=region.assigned_budget%>"
        }
    );
    <%end%>
});
</script>