<% content_for :title, "管理首页" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "dashboard"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
        <%= render :partial => 'shared/s_path'%>
    <%end%>

    <%@catalogs.each do |catalog|%>
    <%o=Order.in_region(current_user.region).in_catalog(catalog).first%>
        <%if o.nil?%>
            <div class="info">
                <div class="info_action">
                    <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
                </div>
                <div class="info_content">
                    <p class="single">
                        <strong>活动<%=catalog.campaign.name%>正在进行中.</strong>
                        <a href="/campaigns/<%=catalog.campaign.id%>/book">去预定.</a>
                    </p>
                </div>
            </div>
        <%end%>
    <%end%>

    <%@orders.each do |order|%>
        <div class="info">
            <div class="info_action">
                <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
            </div>
            <div class="info_content">
                <p class="single">
                    <strong>活动<%=order.campaign.name%>的预定审批失败.</strong>
                    <a href="/orders/<%=order.id%>">去修改.</a>
                </p>
            </div>
        </div>
    <%end%>

    <%@olirs.each do |olir|%>
        <div class="info">
            <div class="info_action">
                <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
            </div>
            <div class="info_content">
                <p class="single">
                    <strong>销售<%=olir.salesrep.name%>在活动<%=olir.campaign.name%>中申请的物料<%=olir.material.name%>已送达仓库.</strong>
                    <a href="/order_line_item_raws/<%=olir.id%>">去申请.</a>
                </p>
            </div>
        </div>
    <%end%>

    <%@olias.each do |olia|%>
        <div class="info">
            <div class="info_action">
                <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
            </div>
            <div class="info_content">
                <p class="single">
                   <%olir=olia.order_line_item_raw%> <strong>销售<%=olir.salesrep.name%>在活动<%=olir.campaign.name%>中申请的物料<%=olir.material.name%>已送达目的地.</strong>
                    <a href="/order_line_item_applies/<%=olia.id%>">去确认.</a>
                </p>
            </div>
        </div>
    <%end%>

    <%@olia1s.each do |olia|%>
        <div class="info">
            <div class="info_action">
                <a href="#" onclick="$(this).parent().parent().remove();">隐藏</a>
            </div>
            <div class="info_content">
                <p class="single">
                   <%olir=olia.order_line_item_raw%> <strong>销售<%=olir.salesrep.name%>在活动<%=olir.campaign.name%>中申请的物料<%=olir.material.name%>申请失败，已退回.</strong>
                    <a href="/order_line_item_applies/<%=olia.id%>">去修改.</a>
                </p>
            </div>
        </div>
    <%end%>

</div>