<% content_for :title, "总仓库" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "inventories_#{params[:is_central]=='1' ? 1 : 0}"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
    <%= render :partial => 'shared/s_path'%>
    <%end%>

    <div class="tab">
        <table width="786" cellspacing="1" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td id="tab_tit" colspan="9">所有物料</td>
                </tr>
                <tr>
                    <td class="f_tab">物料标识码</td>
                    <td class="f_tab">物料示意图</td>
                    <td class="f_tab">物料名称</td>
                    <td class="f_tab">所属大区</td>
                    <td class="f_tab">所在仓库</td>
                    <td class="f_tab">库存量</td>
                    <%if (current_user.has_role?("admin") || current_user.has_role?("pm")) && params[:is_central] == "1"%>
                        <td class="f_tab">操作</td>
                    <%end%>
                </tr>
                <%@inventories.each do |inventory|%>
                    <tr>
                        <td><%=inventory.material.itemno%></td>
                        <td><%=image_tag (inventory.material.uploaded_data.url),:onload=>"DrawImage(this,100,75)"%></td>
                        <td><%=inventory.material.name%></td>
                        <td><%=inventory.region.name%></td>
                        <td><%=inventory.warehouse.name%></td>
                        <td><%=inventory.quantity%></td>
                        <td>
                            <%if (current_user.has_role?("admin") || current_user.has_role?("pm")) && params[:is_central] == "1"%>
                                <%=link_to "库存转移","/transfers/new?type=2_3&material_id=#{inventory.material.id}"%>
                            <%end%>
                        </td>
                    </tr>
                <%end%>
                <tr>
                    <td id="tab_tit02" colspan="9"><font >共有<%=@inventories.total_entries%>条记录</font></td>
                </tr>
            </tbody>
        </table>
        <%=will_paginate @inventories%>
    </div>
</div>