<% content_for :title, "物料申领" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "rc_apply"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
    <%= render :partial => 'shared/s_path'%>
    <%end%>

    <div class="tab">
        <table width="786" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td id="tab_tit" colspan="9">
                        物料申领
                    </td>
                </tr>
                <tr>
                    <td class="f_tab">物料编号</td>
                    <td class="f_tab">物料示意图</td>
                    <td class="f_tab">物料名称</td>
                    <td class="f_tab">所属大区</td>
                    <td class="f_tab">所在仓库</td>
                    <td class="f_tab">库存量</td>
					<td class="f_tab">申领中</td>
					<td class="f_tab">已发货</td>
					<td class="f_tab">操作</td>
                </tr>
                <%@inventories.each do |inventory|%>
                    <tr>
                        <td><%=inventory.material.sku%></td>
                        <td><%=image_tag (inventory.material.uploaded_data.url(:thumb)),:onload=>"DrawImage(this,100,75)"%></td>
                        <td><%=inventory.material.name%></td>
                        <td><%=inventory.region.name%></td>
                        <td><%=inventory.warehouse.name%></td>
                        <td><%=inventory.quantity%></td>
						<td><%=OrderLineItemApply.in_region(current_user.region).in_material(inventory.material.id).not_in_status(5).first(:select=>"sum(apply_quantity) as quantity").quantity.to_i%></td>
						<td><%=OrderLineItemApply.in_region(current_user.region).in_material(inventory.material.id).in_status(5).first(:select=>"sum(apply_quantity) as quantity").quantity.to_i%></td>
						<td><%=link_to "我要申领","/order_line_item_applies/new?material_id=#{inventory.material.id}"%></td>
					</tr>
				<%end%>
                <tr>
                    <td id="tab_bottom" colspan="9"><font >共有<%=@inventories.total_entries%>条记录</font></td>
                </tr>
            </tbody>
        </table>
        <%=will_paginate @inventories%>
    </div>
</div>