<div class="tab">
    <table cellspacing="0" cellpadding="0" border="0" width="980">
        <tbody>
            <tr>
                <td colspan="11" id="tab_tit"><%if @olia.status ==5 %>申领单（ID：<%=@olia.id%>）<%else%>送货单（ID：<%=@olia.id%>）<%end%></td>
            </tr>
            <tr>
                <td colspan="1" style="text-align: center; padding: 10px;">
                    送货地址：
                </td>
                <td colspan="4" style="text-align: left; padding: 10px;width:200px;">
                    <%=@olia.address%>
                </td>
                <td colspan="1" style="text-align: center; padding: 10px;">
                    备注：
                </td>
                <td colspan="5" style="text-align: left; padding: 10px;width:200px;">
                    <%=@olia.memo%>
                </td>
            </tr>
            <tr>
                <td class="f_tab" width=100>sku</td>
                <td class="f_tab">物料图片</td>
                <td class="f_tab">物料名称</td>
                <td class="f_tab">所属区</td>
                <td class="f_tab">销售姓名</td>
                <td class="f_tab" width=100>物料价格</td>
                <td class="f_tab">本次申请</td>
                <td class="f_tab">申请总计</td>
            </tr>

            <tr>
                <td><%=@olia.material.sku%></td>
                <td><%=image_tag (@olia.material.uploaded_data.url(:thumb)),:onload=>"DrawImage(this,100,75)"%></td>
                <td><%=@olia.material.name%></td>
                <td><%=@olia.region.name%></td>
                <td><%=@olia.salesrep.name%></td>
                <td><%=@olia.material.cost%></td>
                <td><%=@olia.apply_quantity%></td>
                <td><%=@olia.apply_subtotal%></td>
            </tr>
            <tr>
                <td colspan="11" id="tab_bottom"></td>
            </tr>
        </tbody>
    </table>
</div>