<% content_for :title, "更新密码" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "users_change_password"} %>

<div id="main">
	<%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
	<%= render :partial => 'shared/s_path'%>
	<%end%>

	<div class="tab">
		<% form_for @user, :url => change_password_user_path(@user), :html => {:method => :put,:class=>"uniForm"} do |f| -%>
		<%=f.error_messages%>
		<table cellspacing="1" cellpadding="0" border="0" width="786" class="tab01">
			<tbody>
				<tr>
					<td id="tab_tit" colspan="4">修改密码</td>
				</tr>
				<tr>
					<td><%= f.label :old_password, "<em>*</em>当前密码" %></td>
					<td class="td_left">
						<%= f.password_field :old_password %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :password, "<em>*</em>新密码" %></td>
					<td class="td_left">
						<%= f.password_field :password %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :password_confirmation, "<em>*</em>确认密码" %></td>
					<td class="td_left">
						<%= f.password_field :password_confirmation%>
					</td>
				</tr>
				<tr><td id="tab_tit" colspan="4"></td>
				</tr>
			</tbody>
		</table>
		<br/>
		<div class="tab_btn">
			<%= f.submit "保存",:class=>"button_btn" %>
		</div>
		<%end%>
	</div>
</div>