<% content_for :title, "添加用户" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "users"} %>

<div id="main">
	<%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
	<%= render :partial => 'shared/s_path'%>
	<%end%>
	
	<div class="tab">
		<% form_for @user do |f| -%>
		<%=f.error_messages%>
		<table cellspacing="1" cellpadding="0" border="0" width="786" class="tab01">
			<tbody>
				<tr>
					<td id="tab_tit" colspan="4">帐号相关</td>
				</tr>
				<tr>
					<td><%= f.label :login, "<em>*</em>登录帐号" %></td>
					<td class="td_left">
						<%= f.text_field :login,:disabled=>"disabled" %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :role_ids, "<em>*</em>用户角色" %></td>
					<td class="td_left">
						<%= f.select :role_ids,Role.include_admin(false).all.collect{|p| [p.full_name, p.id]} %>
					</td>
				</tr>
				<tr>
					<td id="tab_tit" colspan="4">用户信息</td>
				</tr>
				<tr>
					<td><%= f.label :name, "<em>*</em>用户姓名" %></td>
					<td class="td_left">
						<%= f.text_field :name %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :email, "<em>*</em>电子邮箱" %></td>
					<td class="td_left">
						<%= f.text_field :email %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :region_id, "<em>*</em>所属区" %></td>
					<td class="td_left">
						<%= f.select :region_id,Region.all.collect{|p| [p.name, p.id]} %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :mobile, "手机号码" %></td>
					<td class="td_left">
						<%= f.text_field :mobile %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :phone, "联系电话" %></td>
					<td class="td_left">
						<%= f.text_field :phone %>
					</td>
				</tr>
				<tr><td id="tab_tit" colspan="4"></td>
				</tr>
			</tbody>
		</table>
		<br/>
		<div class="tab_btn">
			<%= f.submit "修改",:class=>"button_btn" %>
		</div>
		<%end%>
	</div>
	
</div>