<div id="plis_list">
<script type="text/javascript" charset="utf-8">
    var grid;
    var ds;
    Ext.onReady(function(){
      init_grid();
    });
    function init_grid() {
        ds = new Ext.data.GroupingStore({
            groupField:'sku',
            proxy: new Ext.data.HttpProxy({
                api: {
                        read: '/productions/<%=@production.id%>/load_data?type=detail'
                     }
            }),
            reader: new Ext.data.JsonReader({
                    root: 'Olias',
                    totalProperty: 'size',
                    messageProperty: 'message'
                },
                [
                    {name: 'material_id', mapping: 'material_id'},
                    {name: 'sku', mapping: 'sku'},
                    {name: 'name', mapping: 'name'},
                    {name: 'region', mapping: 'region'},
                    {name: 'quantity_total', mapping: 'quantity_total'}
                ])
        });
        var cm = new Ext.grid.ColumnModel([
            {id: 'sku', header: "sku", dataIndex: 'sku',sortable:true,width:150},
            {id: 'name', header: "物料名称", dataIndex: 'name',sortable:true,width:186},
            {id: 'region', header: "所属大区", dataIndex: 'region',sortable:true,width:186},
            {id: 'quantity_total', header: "预定总数", dataIndex: 'quantity_total',sortable:true,width:150}
        ]);

    var filters = new Ext.ux.grid.GridFilters({
        local: true,   // defaults to false (remote filtering)
        filters: [
        {
            type: 'string',
            dataIndex: 'sku'
        }, {
            type: 'string',
            dataIndex: 'name'
        }, {
            type: 'string',
            dataIndex: 'region'
        }, {
            type: 'numeric',
            dataIndex: 'quantity_total'
            }
        ]
    });

    var summary = new Ext.ux.grid.HybridSummary();

    var type = new Ext.Action({
        text: '显示总预定明细',
        handler: function(){
            location.href="/productions/<%=@production.id%>";
        },
        icon: '/images/icons/zoom.png'
    });

    var excel = new Ext.Action({
        text: '导出excel',
        handler: function(){
            location.href="/productions/<%=@production.id%>/generate_excel?type=detail";
        },
        icon: '/images/icons/page_excel.png'
    });

    var tbar = [];
    tbar.push(type);
    <% if @production.locked%>
        tbar.push(excel);
    <% end %>

    var plugins = [filters,summary];

    grid = new Ext.grid.GridPanel({
        loadMask: true,
        // autoHeight: true,
        height: 300,
        autoWidth: true,
        ds: ds,
        cm: cm,
        sm: new Ext.grid.RowSelectionModel({ singleSelect: true }),
        plugins: plugins,
        view: new Ext.grid.GroupingView({
            forceFit:true,
            groupTextTpl: '{text} ({[values.rs.length]} {[values.rs.length > 1 ? "Items" : "Item"]})'
        }),
        title: '<center>生产单详细（<%=@production.show_status%>）<%if @production.locked%><a href="/productions/<%=@production.id%>/print?type=detail"><img src="/images/icons/printer.png" /></a><%end%></center>',
        tbar: [tbar]
    });

    grid.render('plis_list');
    ds.load();//{params:{start:0}}
    grid.on("rowcontextmenu",function(grid,rowIndex,e){
        if(rowIndex<0){return;}
        e.preventDefault();
        grid.getSelectionModel().selectRow(rowIndex);
        var treeMenu = new Ext.menu.Menu([
            {
                xtype:"",
                text:"显示详情",
                icon:"/images/icons/database.png",
                pressed:true,
                handler:function(){
                    var selections = grid.getSelectionModel().getSelections();
                    for (var i = 0; i < selections.length; i++) {
                        parent.addwindow("/materials/"+selections[i].get('material_id')+"/iframe_show","物料详情",400,300);
                    }

                }
            }
        ]);
        treeMenu.showAt(e.getPoint());
    });

    }
</script>
</div>