<%form_for @olia,:url=>{:controller=>"order_line_item_raws",:action=>"update_status"},:html=>{:method=>:put} do |f|%>
<div class="tab">
<table cellspacing="1" cellpadding="0" border="0" width="786">
    <tbody>
        <tr>
            <td colspan="12" id="tab_tit">物料明细</td>
        </tr>
        <tr>
            <td class="f_tab">sku</td>
            <td class="f_tab">物料图片</td>
            <td class="f_tab">物料名称</td>
            <td class="f_tab">所属区</td>
            <td class="f_tab">销售姓名</td>
            <td class="f_tab">物料价格</td>
            <td class="f_tab">预定数量</td>
            <td class="f_tab">申请中</td>
            <td class="f_tab">已审核</td>
            <td class="f_tab">已发货</td>
            <td class="f_tab">本次申请</td>
            <td class="f_tab">申请总计</td>
        </tr>

        <tr>
            <td><%=@olir.material.sku%></td>
            <td><%=image_tag (@olir.material.uploaded_data.url),:onload=>"DrawImage(this,100,75)"%></td>
            <td><%=@olir.material.name%></td>
            <td><%=@olir.region.name%></td>
            <td><%=@olir.salesrep.name%></td>
            <td><%=@olir.unit_price%></td>
            <td><%=@olir.quantity%></td>
            <td><%=@olir.apply_size%></td>
            <td><%=@olir.applied_size%></td>
            <td><%=@olir.sended_size%></td>
            <td>
                <input type="text" value="0" size="3" id="olia_quantity">
                <%= link_to_function '<img src="/images/icons/tick.png" />',"update_total()"%>
            </td>
            <td id="upload_total_field">￥0</td>
        </tr>
        <tr>
            <td colspan="12" id="tab_tit02"></td>
        </tr>
    </tbody>
</table>
</div>

<div class="tab">
    <table cellspacing="1" cellpadding="0" border="0" width="786" class="tab01">
        <tbody>
            <tr>
                <td id="tab_tit" colspan="4">详细送货地址</td>
            </tr>
            <%= f.hidden_field :apply_quantity %>
            <tr>
                <td><%= label_tag :address, "<em>*</em>请填写详细送货地址" %></td>
                <td class="td_left">
                    <%= f.text_field :address,:value=> "#{@olir.salesrep.address}"%>
                </td>
            </tr>
            <tr>
                <td><%= label_tag :memo, "请填写备注" %></td>
                <td class="td_left">
                    <%= f.text_area :memo,:value=> "#{@olir.salesrep.memo}" %>
                </td>
            </tr>
            <tr><td id="tab_tit" colspan="4"></td>
            </tr>
        </tbody>
    </table>
    <br/>

    <div class="tab_btn">
        <%= f.submit "提交申请",:class=>"button_btn",:confirm=>"提交后将不能修改申请！您确认此次提交吗？" %>
    </div>
</div>
<%end%>

<% javascript_tag do %>
    function update_total(){
        var quantity = $("#olia_quantity").val();
        var total = <%=@olir.unit_price%> * quantity;
        $("#order_line_item_apply_apply_quantity").attr("value",quantity);
        $("#upload_total_field").html("￥"+total);
    }
<% end %>