<% content_for :title, "物料申领" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "order_line_item_raws"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
    <%= render :partial => 'shared/s_path'%>
    <%end%>

    <div class="tab">
        <table width="786" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td id="tab_tit" colspan="11">
                        物料申领
                    </td>
                </tr>
                <tr>
                    <td class="f_tab">物料编号</td>
                    <td class="f_tab">物料图片</td>
                    <td class="f_tab">物料名称</td>
                    <td class="f_tab">所属活动</td>
                    <td class="f_tab">所属区</td>
                    <td class="f_tab">销售姓名</td>
                    <td class="f_tab">预定数量</td>
                    <td class="f_tab">申请中</td>
                    <td class="f_tab">已审核</td>
                    <td class="f_tab">已发货</td>
                    <td class="f_tab">操作</td>
                </tr>
                <%@olirs.each do |olir|%>
                    <tr>
                        <td><%=olir.material.sku%></td>
                        <td><%=image_tag (olir.material.uploaded_data.url(:thumb)),:onload=>"DrawImage(this,100,75)"%></td>
                        <td><%=olir.material.name%></td>
                        <td><%=olir.campaign.name%></td>
                        <td><%=olir.region.name%></td>
                        <td><%=olir.salesrep.name%></td>
                        <td><%=olir.quantity%></td>
                        <td><%=olir.apply_size%></td>
                        <td><%=olir.applied_size%></td>
                        <td><%=olir.sended_size%></td>
                        <td>
                            <%if olir.apply_size == 0 && olir.applied_size == 0%>
                                <%=link_to "我要申领", "/order_line_item_raws/#{olir.id}"%>
                            <%else%>
                                <%=link_to "继续申领", "/order_line_item_raws/#{olir.id}"%>
                            <%end%>
                        </td>
                    </tr>
                <%end%>
                <tr>
                    <td id="tab_bottom" colspan="11"><font color="green">共有<%=@olirs.total_entries%>条记录</font></td>
                </tr>
            </tbody>
        </table>
        <%=will_paginate @olirs%>
    </div>
</div>