<div class="tab">
    <table cellspacing="1" cellpadding="0" border="0" width="980">
        <tbody>
            <tr>
                <td colspan="11" id="tab_tit">送货单（ID：<%=@olir.id%>）</td>
            </tr>
            <tr>
                <td colspan="1" style="text-align: center; padding: 10px;">
                    送货地址：
                </td>
                <td colspan="4" style="text-align: left; padding: 10px;width:200px;">
                    <%=@olir.address%>
                </td>
                <td colspan="1" style="text-align: center; padding: 10px;">
                    备注：
                </td>
                <td colspan="5" style="text-align: left; padding: 10px;width:200px;">
                    <%=@olir.memo%>
                </td>
            </tr>
            <tr>
                <td class="f_tab" width=100>sku</td>
                <td class="f_tab">物料图片</td>
                <td class="f_tab">物料名称</td>
                <td class="f_tab">所属区</td>
                <td class="f_tab">销售姓名</td>
                <td class="f_tab" width=100>物料价格</td>
                <td class="f_tab">预定数量</td>
                <td class="f_tab">小计</td>
                <td class="f_tab">调整申请数量</td>
                <td class="f_tab">申请总数</td>
                <td class="f_tab">申请总计</td>
            </tr>

            <tr>
                <td><%=@olir.material.sku%></td>
                <td><%=image_tag (@olir.material.uploaded_data.url),:onload=>"DrawImage(this,100,75)"%></td>
                <td><%=@olir.material.name%></td>
                <td><%=@olir.region.name%></td>
                <td><%=@olir.salesrep.name%></td>
                <td><%=@olir.unit_price%></td>
                <td><%=@olir.quantity%></td>
                <td>￥<%=@olir.subtotal%></td>
                <td><%=@olir.apply_adjust%></td>
                <td><%=@olir.apply_quantity%></td>
                <td>￥<%=@olir.apply_subtotal%></td>
            </tr>
            <tr>
                <td colspan="11" id="tab_tit02"></td>
            </tr>
        </tbody>
    </table>
</div>