<% javascript_tag do %>
    <%unless @olir.nil?%>
        <%if @error_message%>
            alert("<%=@error_message%>");
        <%else%>
            $("#quantity_"+<%=@olir.id%>).attr("value","<%=@olir.apply_adjust%>");
        <%end%>
    <%end%>
<% end %>

<%if @olirs.empty?%>
<font color="red">您在此活动中无任何预订记录</font>
<%else%>
<%form_for @order do |f|%>
<div class="tab">
<table cellspacing="0" cellpadding="0" border="0" width="786">
    <tbody>
        <tr>
            <td colspan="11" id="tab_tit">订单详细<%=@order.nil? ? "" : "(#{@order.order_status.name})"%></td>
        </tr>
        <tr>
            <td class="f_tab">sku</td>
            <td class="f_tab">物料图片</td>
            <td class="f_tab">物料名称</td>
            <td class="f_tab">所属区</td>
            <td class="f_tab">销售姓名</td>
            <td class="f_tab">物料价格</td>
            <td class="f_tab">预定数量</td>
            <td class="f_tab">小计</td>
            <td class="f_tab">调整申请数量</td>
            <td class="f_tab">申请总数</td>
            <td class="f_tab">申请小计</td>
        </tr>

        <%@olirs.each do |olir|%>
        <tr>
            <td><%=olir.material.sku%></td>
            <td><%=image_tag (olir.material.uploaded_data.url(:thumb)),:onload=>"DrawImage(this,100,75)"%></td>
            <td><%=olir.material.name%></td>
            <td><%=olir.region.name%></td>
            <td><%=olir.salesrep.name%></td>
            <td><%=olir.unit_price%></td>
            <td><%=olir.quantity%></td>
            <td>￥<%=olir.subtotal%></td>
            <td>
            <%if @order.order_status_id ==6%>
                <input type="text" value="<%=olir.apply_adjust%>" size="3" id="quantity_<%=olir.id%>">
                <%= link_to_remote '<img src="/images/icons/tick.png" />',
                :url => {:controller => :order_line_item_raws, :action => :apply_update, :id => olir.id},
                :with => "'campaign_id='+#{@campaign.id}+'&quantity='+$('#quantity_#{olir.id}').val()",
                :method => :put,
                :update => "order_list"%>
            <%else%>
                <%=olir.apply_adjust%>
            <%end%>
            </td>
            <td><%=olir.apply_quantity%></td>
            <td>￥<%=olir.apply_subtotal%></td>
        </tr>
        <%end%>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>总计：￥<%=OrderLineItemRaw.raw_total(@campaign.campaign_catalog.id,current_user.region.id)%></td>
            <td></td>
            <td></td>
            <td>申请总计：￥<%=OrderLineItemRaw.raw_total(@campaign.campaign_catalog.id,current_user.region.id)%></td>
        </tr>

        <tr>
            <td colspan="11" id="tab_bottom"><font >共有<%=@olirs.size%>条记录</font></td>
        </tr>
    </tbody>
</table>
</div>
<%if @order.order_status_id ==6%>
    <%=f.hidden_field :catalog_id,:value=>"#{@campaign.campaign_catalog.id}"%>
    <br/>
    <div class="tab_btn">
        <%= f.submit "提交申请",:class=>"button_btn",:confirm=>"提交后将不能修改申请！您确认此次提交吗？" %>
    </div>
    <%end%>
<%end%>
<%end%>