<div class="tab">
    <table cellspacing="0" cellpadding="0" border="0" width="980">
        <tbody>
            <tr>
                <td colspan="9" id="tab_tit">预定单（ID:<%=@order.id%>）
                </td>
            </tr>
            <tr>
                <td class="f_tab">物料编号</td>
                <td class="f_tab">物料图片</td>
                <td class="f_tab">物料名称</td>
                <td class="f_tab">所属区</td>
                <td class="f_tab">物料价格</td>
                <td class="f_tab">预定数量</td>
                <td class="f_tab">调整数量</td>
                <td class="f_tab">预定总数</td>
                <td class="f_tab">金额小计</td>
            </tr>
            <%order_amount=@order.order_line_item_adjusteds.first(:select=>"sum(subtotal) as subtotal").subtotal.to_f%>
            <%@order.order_line_item_adjusteds.each do |olia|%>
            <tr>
                <td><%=olia.material.sku%></td>
                <td><%=image_tag (olia.material.uploaded_data.url(:thumb)),:onload=>"DrawImage(this,100,75)"%></td>
                <td><%=olia.material.name%></td>
                <td><%=olia.region.name%></td>
                <td><%=olia.unit_price%></td>
                <td><%=olia.quantity_collected%></td>
                <td><%=olia.quantity_adjust%></td>
                <td><%=olia.quantity_total%></td>
                <td>￥<%=olia.subtotal%></td>
            </tr>
            <%end%>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>总计：￥<%=@order.amount%></td>
                <td></td>
            </tr>

            <tr>
                <td colspan="9" id="tab_bottom"><font >共有<%=@order.order_line_item_adjusteds.size%>条记录</font></td>
            </tr>
        </tbody>
    </table>
</div>