<% content_for :title, "我要预定" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "campaigns"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
    <%= render :partial => 'shared/s_path'%>
    <%end%>

    <div class="campaign_info">
        <p>活动名称：<%=@campaign.name%></p>
        <p>预定时间：<%=@campaign.catalog_startdate%> 至  <%=@campaign.catalog_enddate%> （<%=@campaign.show_status%>）</p>
        <p>活动简介：<%=@campaign.description%></p>
    </div>
    <br/>

    <%if @campaign_order_2.nil? && @campaign.campaign_status == 1%>
        <%if @cms.empty?%>
            <font color="red">此活动当前暂无任何可预订物料</font>
        <%else%>
        <div class="tab">
        <table cellspacing="1" cellpadding="0" border="0" width="786">
            <tbody>
                <tr>
                    <td colspan="9" id="tab_tit">可预定物料</td>
                </tr>
                <tr>
                    <td class="f_tab">sku</td>
                    <td class="f_tab">物料图片</td>
                    <td class="f_tab">预定数量</td>
                    <td class="f_tab">销售代表</td>
                    <td class="f_tab">价格</td>
                    <td class="f_tab">加入购物车</td>
                </tr>

                <%@cms.each do |cm|%>
                <tr>
                    <td><%=cm.material.sku%></td>
                    <td><%=image_tag (cm.material.uploaded_data.url),:onload=>"DrawImage(this,100,75)"%></td>
                    <td><input type="text" value="1" size="4" name="nums" id="num_<%=cm.material.id%>"></td>
                    <td>
                        <select name="salesrep" id="salesrep_<%=cm.material.id%>">
                            <option value="">请选择</option>
                            <%@salesreps.each do |salesrep|%>
                            <option value="<%=salesrep.id%>"><%=salesrep.name%></option>
                            <%end%>
                        </select>
                    </td>
                    <td><b style="color:red;">价格：￥<%=cm.price%></b></td>
                    <td><%= link_to_function "<img src='/images/icons/cart_add.png' />", "order(#{cm.material.id})" %></td>
                </tr>
                <%end%>

                <tr>
                    <td colspan="9" id="tab_tit02"><font color="green">共有<%=@cms.size%>条记录</font></td>
                </tr>
            </tbody>
        </table>
        </div>

        <%if false%>
        <%@cms.each do |cm|%>
            <div class="book_info">
                <div class="good_image">
                    <%=image_tag (cm.material.uploaded_data.url),:onload=>"DrawImage(this,100,75)"%>
                </div>
                <div class="good_info">
                    <p>sku：<%=cm.material.sku%></p>
                    <p>物料名称：<%=cm.material.name%></p>
                    <p>预定数量：<input type="text" value="1" size="4" name="nums" id="num_<%=cm.material.id%>"></p>
                    <p>
                        销售代表：<select name="salesrep" id="salesrep_<%=cm.material.id%>">
                            <option value="">请选择</option>
                            <%@salesreps.each do |salesrep|%>
                                <option value="<%=salesrep.id%>"><%=salesrep.name%></option>
                            <%end%>
                        </select>
                    </p>
                    <p>
                        <span class="fLeft" style="color:red;">价格：￥<%=cm.price%></span>
                        <span class="fRight">
                            <%= link_to_function "<img src='/images/icons/cart_add.png' />", "order(#{cm.material.id})" %>
                        </span>
                    </p>
                </div>
            </div>
        <%end%>
        <%end%>


    <%end%>

    <div class="clear"></div>
    <br/>

    <div id="order_list">
        <%=render :partial=> "order_list"%>
    </div>
    <%end%>

</div>

<%javascript_tag do%>
function order(m_id){
    var num = $("#num_"+m_id).val();
    var salesrep_id = $("#salesrep_"+m_id).val();
    $("#order_list").load("/campaigns/raw",{'salesrep_id':salesrep_id,'material_id':m_id,'num':num,'id':<%=@campaign.id%>,'authenticity_token':"<%= form_authenticity_token %>"});
}
<%end%>