<% content_for :title, "更新分类" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "categories"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
    <%= render :partial => 'shared/s_path'%>
    <%end%>

    <div class="tab">
        <% form_for @category, :html=>{:multipart => true} do |f| -%>
        <%=f.error_messages%>
        <table cellspacing="1" cellpadding="0" border="0" width="786" class="tab01">
            <tbody>
                <tr>
                    <td id="tab_tit" colspan="4">更新分类</td>
                </tr>
                <tr>
                    <td><%= f.label :name, "<em>*</em>物料分类名" %></td>
                    <td class="td_left">
                        <%= f.text_field :name %>
                    </td>
                </tr>
                <tr><td id="tab_tit" colspan="4"></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div class="tab_btn">
            <%= f.submit "更新",:class=>"button_btn" %>
        </div>
        <%end%>
    </div>

</div>