<% content_for :title, "所有物料" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "materials"} %>

<div id="main">
    <%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
    <%= render :partial => 'shared/s_path'%>
    <%end%>

    <div class="tab">
        <table width="786" cellspacing="1" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td id="tab_tit" colspan="10">所有物料</td>
                </tr>
                <tr>
                    <td class="f_tab">sku</td>
                    <td class="f_tab">物料示意图</td>
                    <td class="f_tab">物料名称</td>
                    <td class="f_tab">物料采购价</td>
                    <td class="f_tab">最小起订量</td>
                    <td class="f_tab">最大订货量</td>
                    <td class="f_tab" width="120">包装规格</td>
                    <td class="f_tab" width="120">使用指导</td>
                    <td class="f_tab" width="120">详细描述</td>
                    <td class="f_tab">操作</td>
                </tr>
                <%@materials.each do |material|%>
                    <tr>
                        <td><%=material.sku%></td>
                        <td><%=image_tag (material.uploaded_data.url),:onload=>"DrawImage(this,100,75)"%></td>
                        <td><%=material.name%></td>
                        <td><%=material.cost%></td>
                        <td><%=material.min_num%></td>
                        <td><%=material.max_num%></td>
                        <td><%=material.pack_spec%></td>
                        <td><%=material.usage%></td>
                        <td><%=material.memo%></td>
                        <td>
                        <%= link_to image_tag("/images/icons/database_edit.png", {:alt => "修改", :title => "修改", :border => 0}), edit_material_url(material)%>
                        <%= link_to image_tag("/images/icons/database_delete.png", {:alt => "删除", :title => "删除", :border => 0}), material_url(material), :method => :delete, :confirm => "确认要删除这个物料吗?"%>
                        </td>
                    </tr>
                <%end%>
                <tr>
                    <td id="tab_tit02" colspan="10"><font >共有<%=@materials.total_entries%>条记录</font></td>
                </tr>
            </tbody>
        </table>
        <%=will_paginate @materials%>
    </div>
</div>