<% content_for :title, "更新大区" %>

<%= render :partial => 'shared/leftnav',:locals => { :highlight => "regions"} %>

<div id="main">
	<%if !@current_navleft_header_name.nil? && !@current_navleft_name.nil?%>
	<%= render :partial => 'shared/s_path'%>
	<%end%>
	
	<div class="tab">
		<% form_for @region do |f| -%>
		<%=f.error_messages%>
		<table cellspacing="1" cellpadding="0" border="0" width="786" class="tab01">
			<tbody>
				<tr>
					<td id="tab_tit" colspan="4">分配预算</td>
				</tr>
				<tr>
					<td><%= f.label :name, "<em>*</em>大区名称" %></td>
					<td class="td_left">
						<%= f.text_field :name,:disabled=>"disabled" %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :assigned_budget, "<em>*</em>分配预算" %></td>
					<td class="td_left">
						<%= f.text_field :assigned_budget %>
					</td>
				</tr>
				<tr>
					<td id="tab_tit" colspan="4">其他信息</td>
				</tr>
				<tr>
					<td><%= f.label :phone, "联系电话" %></td>
					<td class="td_left">
						<%= f.text_field :phone %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :city, "所属城市" %></td>
					<td class="td_left">
						<%= f.text_field :city %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :address, "地址" %></td>
					<td class="td_left">
						<%= f.text_field :address %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :zip, "邮编" %></td>
					<td class="td_left">
						<%= f.text_field :zip %>
					</td>
				</tr>
				<tr><td id="tab_tit" colspan="4"></td>
				</tr>
			</tbody>
		</table>
		<br/>
		<div class="tab_btn">
			<%= f.submit "更新",:class=>"button_btn" %>
		</div>
		<%end%>
	</div>
	
</div>