<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<%= stylesheet_link_merged 'base' %>
<%= javascript_include_merged 'base' %>

<%= javascript_include_tag "/ext-3.3.1/adapter/ext/ext-base","/ext-3.3.1/ext-all", :cache => "ext_base_all" %>
<%= javascript_include_tag "powerposm/powerposm_ext.js"%>

<%= stylesheet_link_tag "/ext-3.3.1/resources/css/ext-all"%>

<!-- overrides to base library -->
<%= stylesheet_link_tag "/ext-3.3.1/examples/ux/gridfilters/css/GridFilters.css",
                        "/ext-3.3.1/examples/ux/gridfilters/css/RangeMenu.css",
                        "/ext-3.3.1/examples/ux/css/RowEditor.css",
                        :cache => "ext_extensions"
%>
<%= stylesheet_link_tag "/ext-3.3.1/resources/css/xtheme-gray.css" %>
<!-- overrides to base library -->

<!-- extensions -->
<%= javascript_include_tag  "/ext-3.3.1/examples/ux/gridfilters/menu/RangeMenu.js",
                            "/ext-3.3.1/examples/ux/gridfilters/menu/ListMenu.js",
                            "/ext-3.3.1/examples/ux/gridfilters/GridFilters.js",
                            "/ext-3.3.1/examples/ux/gridfilters/filter/Filter.js",
                            "/ext-3.3.1/examples/ux/gridfilters/filter/StringFilter.js",
                            "/ext-3.3.1/examples/ux/gridfilters/filter/DateFilter.js",
                            "/ext-3.3.1/examples/ux/gridfilters/filter/ListFilter.js",
                            "/ext-3.3.1/examples/ux/gridfilters/filter/NumericFilter.js",
                            "/ext-3.3.1/examples/ux/gridfilters/filter/BooleanFilter.js",
                            "/ext-3.3.1/examples/ux/RowEditor.js",
                            "/ext-3.3.1/examples/shared/extjs/App.js",
                            "/ext-3.3.1/examples/ux/GroupSummary.js",
                            :cache => "ext_extensions"
%>

<%= javascript_include_tag "powerposm/fix_group_summary.js"%>

<!-- extensions -->

<title><%= yield_title yield(:title) %></title>
</head>
<body>
<div id="topper">
    <div class="title">达能物料管理系统</div>
    <div class="logo-small"></div>
</div>
<div id="container">
    <%= render :partial => 'shared/header' %>

    <div id="flash">
        <%= flash_message %>
    </div>

    <div id="content">
        <%= yield %>
    </div>

    <%= render :partial => 'shared/footer' %>
</div>
</body>
</html>