<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>达能－POSM物料管理系统</title>
</head>
<body>
    <table width="700" cellpadding="0" cellspacing="0" border="4" bordercolor="#EFAAC0" align="center">
        <tr><td>

            <table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td width="315"><a href="http://www.powerposm.com"><img border="0" style="display: block;" alt="达能－POSM物料管理系统" src="http://www.powerposm.com/images/email/top.jpg"></a></td>
                    </tr>
                    <tr>
                        <td><table width="700" cellspacing="0" cellpadding="0" border="0" align="center">
                            <tbody><tr>
                                <td width="60" valign="top">&nbsp;</td>
                                <td valign="top" bgcolor="#ffffff" ><table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody><tr>
                                        <td valign="bottom" height="66"><table height="23" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td align="center"><font size="2" face="Verdana" color="#60605f" style="font-size: 15px;"><strong><%= Time.now.strftime("%Y年%m月%d日 %H:%M:%S")%></strong></font></td>
                                            </tr>
                                        </tbody></table></td>
                                    </tr>
                                    <tr>
                                        <td height="93"><font size="2" face="Verdana" color="#60605f" style="font-size: 35px;"> <%=@subject%> </font>  </td>
                                    </tr>
                                    <tr>
                                        <td height="139" valign="top"><font size="1" face="Verdana" color="#60605f" style="font-size: 12px;"><p><%= yield %></p></font></td>
                                    </tr>
                                    <% unless @button_link.blank? %>
                                    <tr>
                                        <td height="29" align="left"><table cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td width="30"><a style="text-decoration:none;" href="<%=@button_link%>"><img border="0" style="display: block;" alt="" src="http://www.powerposm.com/images/email/but_left.gif"></a></td>
                                                <td width="100" bgcolor="#e72561" align="center"><a style="text-decoration:none;" href="<%=@button_link%>"><font size="1" face="Verdana" color="#ffffff" style="font-size: 13px;"><strong><%=@button_label%></strong></font></a> </td>
                                                <td width="12"><a style="text-decoration:none;" href="<%=@button_link%>"><img border="0" style="display: block;" alt="" src="http://www.powerposm.com/images/email/but_right.gif"></a></td>
                                            </tr>
                                        </tbody></table>
                                    </td>
                                </tr>
                                <% end %>

                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody></table></td>
                            <td width="60" valign="top">&nbsp;</td>
                        </tr>
                    </tbody></table></td>
                </tr>
            </tbody>
        </table>

    </td></tr>
</table>
</body>
</html>